body{width: 400px;height: 500px;font-family: microsoft yahei;font-size: 16px;}

a{color: black;display: inline-block;width: 100px;height: 30px;padding-left: 25px;line-height: 30px;cursor: pointer;background:no-repeat left;background-size:20px 20px;}